force-app/main/default/flows/AddSFStatusToCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Status_Action_1</name>
        <label>Get Status Action 1</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>SFStatusv2.getStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Set_Org_Status_Info_on_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>CS339</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SFStatusv2.getStatus</nameSegment>
        <outputParameters>
            <assignToReference>SFStatusResponse</assignToReference>
            <name>200</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>AddSFStatusToCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add SF Status To Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Org_Status_Info_on_Case</name>
        <label>Set Org Status Info on Case</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Salesforce_Release_Number__c</field>
            <value>
                <elementReference>SFStatusResponse.releaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Release_Version__c</field>
            <value>
                <elementReference>SFStatusResponse.releaseVersion</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Status_Action_1</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SFStatusResponse</name>
        <apexClass>ExternalService__SFStatusv2_status</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
