force-app/main/default/flows/Get_Latest_Currency_Info_V3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Latest_X_Rate</name>
        <label>Get Latest X Rate</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>CurrApiv2.getLatest</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>OK_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <elementReference>APIKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <elementReference>BaseCurrency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrApiv2.getLatest</nameSegment>
        <outputParameters>
            <assignToReference>CurrAPILatest</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApiResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Opp_Screen</name>
        <label>Update Opp Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Latest_X_Rate_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:UpdateScreen</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>OkStatusCode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>200.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>OK_Response</name>
        <label>OK Response?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Latest_Rates_on_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_OK_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApiResponseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OkStatusCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>Outcome 1 of OK Response?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>APIKey</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.API_Key__c}</expression>
    </formulas>
    <formulas>
        <name>BaseCurrency</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.Base_Currency__c}</expression>
    </formulas>
    <formulas>
        <name>LatestDateStrToDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(SUBSTITUTE(SUBSTITUTE({!CurrAPILatest.meta.lastx5fupdatedx5fat}, &quot;T&quot;, &quot; &quot;), &quot;Z&quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Get Latest Currency Info V3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Latest Currency Info V3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Latest_Rates_on_Opp</name>
        <label>Update Latest Rates on Opp</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Opp_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>USD_Rate_Date_latest__c</field>
            <value>
                <elementReference>LatestDateStrToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USD_Rate_Latest__c</field>
            <value>
                <elementReference>CurrAPILatest.data.USD.value</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sorry, we were unable to load the latest rates at this time&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Latest_X_Rate_Notification</name>
        <label>Latest X Rate Notification</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LatestAPIResults</name>
            <fieldText>&lt;p&gt;Latest {!BaseCurrency} Rate (As of {{!CurrAPILatest.meta.lastx5fupdatedx5fat}})&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!CurrAPILatest.data.USD.value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_X_Rate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApiResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrAPILatest</name>
        <apexClass>ExternalService__CurrApiv2_latest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
