force-app/main/default/flows/Get_Latest_Currency_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Curr_API_Latest</name>
        <label>Get Curr API Latest</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>CurrApiv2.getLatest</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>OK_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <elementReference>OkStatusCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <elementReference>BaseCurrency</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrApiv2.getLatest</nameSegment>
        <outputParameters>
            <assignToReference>CurrAPILatest</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApiResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UpdateScreen_Action_1</name>
        <label>UpdateScreen Action 1</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:UpdateScreen</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>OkStatusCode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>200.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>OK_Response</name>
        <label>OK Response?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Latest_Rates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApiResponseCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OkStatusCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>APIKey</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.API_Key__c}</expression>
    </formulas>
    <formulas>
        <name>BaseCurrency</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.Base_Currency__c}</expression>
    </formulas>
    <formulas>
        <name>DateTimeStr</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!CurrAPILatest.meta.lastx5fupdatedx5fat}, &quot;T&quot;, &quot; &quot;), &quot;Z&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>LatestDateStrToDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!DateTimeStr})</expression>
    </formulas>
    <interviewLabel>Get Latest Currency Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Latest Currency Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Latest_Rates</name>
        <label>Update Latest Rates</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>UpdateScreen_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>USD_Rate_Date_latest__c</field>
            <value>
                <elementReference>LatestDateStrToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USD_Rate_Latest__c</field>
            <value>
                <elementReference>CurrAPILatest.data.USD.value</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;Sorry, we were unable to load the latest rates at this time&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LatestAPIResults</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; color: rgb(121, 108, 108);&quot;&gt;﻿        &lt;/span&gt;&lt;span style=&quot;font-size: 11px; color: rgb(121, 108, 108);&quot;&gt;Latest {!BaseCurrency} Rate&lt;/span&gt;&lt;span style=&quot;color: rgb(121, 108, 108);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;(As of {{!CurrAPILatest.meta.lastx5fupdatedx5fat}})&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;        {!CurrAPILatest.data.USD.value}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Curr_API_Latest</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ApiResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurApiString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrAPILatest</name>
        <apexClass>ExternalService__CurrApiv2_latest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastAPIDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
