force-app/main/default/flows/Get_Latest_Currency_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Curr_API_Latest</name>
        <label>Get Curr API Latest</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CurrApiv2.getLatest</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ResToStr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <elementReference>APIKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <elementReference>Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <elementReference>BaseCurrency</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrApiv2.getLatest</nameSegment>
        <outputParameters>
            <assignToReference>CurrAPILatest</assignToReference>
            <name>200</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ResToStr</name>
        <label>ResToStr</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CurApiString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrAPILatest.data.CAD.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurApiString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrAPILatest.data.GBP.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurApiString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrAPILatest.data.USD.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AccId</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>APIKey</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.API_Key__c}</expression>
    </formulas>
    <formulas>
        <name>BaseCurrency</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.Base_Currency__c}</expression>
    </formulas>
    <interviewLabel>Get Latest Currency Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Latest Currency Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LatestAPIResults</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; color: rgb(121, 108, 108);&quot;&gt;﻿        &lt;/span&gt;&lt;span style=&quot;font-size: 11px; color: rgb(121, 108, 108);&quot;&gt;Latest {!BaseCurrency} Rate&lt;/span&gt;&lt;span style=&quot;color: rgb(121, 108, 108);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(85, 85, 85); font-size: 10px; background-color: rgb(255, 255, 255);&quot;&gt;(As of {!CurrAPILatest.meta.lastx5fupdatedx5fat})&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;        {!CurApiString}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Curr_API_Latest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurApiString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrAPILatest</name>
        <apexClass>ExternalService__CurrApiv2_latest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
