force-app/main/default/flows/Salesforce_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GetSfStatus</name>
        <label>GetSfStatus</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>SFStatusv2.getStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Sorted_Maintenace</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>CS339</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SFStatusv2.getStatus</nameSegment>
        <outputParameters>
            <assignToReference>SFStatusV2Response</assignToReference>
            <name>200</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_Maintenance_Display_Text</name>
        <label>Add to Maintenance Display Text</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varPastMaintenances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txtMain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_maintenance</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sorted_Maintenace</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sorted Maintenace</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>SFStatusV2Response.Maintenances</collectionReference>
        <connector>
            <targetReference>For_each_maintenance</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>plannedStartTime</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <dynamicChoiceSets>
        <name>InstanceMaintenances</name>
        <collectionReference>SFStatusV2Response.Maintenances</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Salesforce Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salesforce Status</label>
    <loops>
        <name>For_each_maintenance</name>
        <label>For each maintenance</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>SFStatusV2Response.Maintenances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Maintenance_Display_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Salesforce_Instance_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Salesforce_Instance_Status</name>
        <label>Salesforce Instance Status</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReleaseInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Location: &lt;/strong&gt;{!SFStatusV2Response.location}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Environment: &lt;/strong&gt;{!SFStatusV2Response.environment}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Release Version:  &lt;/strong&gt;{!SFStatusV2Response.releaseVersion}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Release Number: &lt;/strong&gt;{!SFStatusV2Response.releaseNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;STATUS: &lt;/strong&gt;{!SFStatusV2Response.status}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MainText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Org Maintenance&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿&lt;/strong&gt;{!varPastMaintenances}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSfStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtMain</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;{!For_each_maintenance.name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;StartTIme: {!For_each_maintenance.plannedStartTime}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>SFStatus</name>
        <apexClass>ExternalService__ExtServiceSFStatus_getInstanceStatusbyKey_OUT_200</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SfStatus2</name>
        <apexClass>ExternalService__ExtServiceSFStatus_getInstanceStatusbyKey_OUT_200</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SFStatusV2Response</name>
        <apexClass>ExternalService__SFStatusv2_status</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPastMaintenances</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
