force-app/main/default/flows/Set_Exchange_Rate_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Curr_API_Latest</name>
        <label>Get Curr API Latest</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>CurrApiv2.getLatest</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>SetRateAndDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <elementReference>APIKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <elementReference>BaseCurrency</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrApiv2.getLatest</nameSegment>
        <outputParameters>
            <assignToReference>CurrAPILatest</assignToReference>
            <name>200</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>APIKey</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.API_Key__c}</expression>
    </formulas>
    <formulas>
        <name>BaseCurrency</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.Base_Currency__c}</expression>
    </formulas>
    <formulas>
        <name>RateDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(SUBSTITUTE(SUBSTITUTE({!CurrAPILatest.meta.lastx5fupdatedx5fat}, &quot;T&quot;, &quot; &quot;), &quot;Z&quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Set Exchange Rate on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Exchange Rate on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetRateAndDate</name>
        <label>SetRateAndDate</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>USD_Rate_Date_creation__c</field>
            <value>
                <elementReference>RateDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USD_Rate_Upon_Creation__c</field>
            <value>
                <elementReference>CurrAPILatest.data.USD.value</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Curr_API_Latest</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrAPILatest</name>
        <apexClass>ExternalService__CurrApiv2_latest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
