force-app/main/default/flows/ThTest1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Curr_API_Latest</name>
        <label>Get Curr API Latest</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CurrApiv2.getLatest</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <elementReference>APIKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <elementReference>BaseCurrency</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <elementReference>CurrenciesToRetrieve</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrApiv2.getLatest</nameSegment>
        <outputParameters>
            <assignToReference>CurrAPILatest</assignToReference>
            <name>200</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>AccId</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>APIKey</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.API_Key__c}</expression>
    </formulas>
    <formulas>
        <name>BaseCurrency</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.Base_Currency__c}</expression>
    </formulas>
    <formulas>
        <name>CurrenciesToRetrieve</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.CurrencyAPISettings__mdt.Master.Currencies__c}</expression>
    </formulas>
    <interviewLabel>ThTest1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ThTest1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LatestAPIResults</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Latest Conversion Rates&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Updated at : {!CurrAPILatest.meta.lastx5fupdatedx5fat}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;CAD: {!CurrAPILatest.data.CAD.value}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;GBP: {!CurrAPILatest.data.GBP.value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;USD: {!CurrAPILatest.data.USD.value}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Curr_API_Latest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>apistatus</name>
        <apexClass>ExternalService__CurrApiv2_status</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrAPILatest</name>
        <apexClass>ExternalService__CurrApiv2_latest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
